<div class="container mt-3">
  <div class="row">
    <div class="col-md-4">

      <h4>PredictOutcome </h4>

      <form ngNativeValidate #userForm="ngForm" (ngSubmit)="userForm.form.valid && onSubmit(userForm)">

        <!-- age -->
        <div class="form-group">
          <label>age:</label>
          <input type="text" class="form-control" name="age" [(ngModel)]="age" required>
        </div>

        <!-- sex -->
        <div class="form-group">
          <label>sex:</label><br>
          <select name="sex" id="#" [(ngModel)]="sex">
            <option value="0">Male</option>
            <option value="1">Female</option>
            </select>
        </div>

        <!-- cp -->
        <div class="form-group">
          <label>cp:</label>
          <input type="text" class="form-control" name="cp" [(ngModel)]="cp" required>
        </div>

        <!-- trestbps -->
        <div class="form-group">
          <label>trestbps</label>
          <input type="text" class="form-control" name="trestbps" [(ngModel)]="trestbps" required>
        </div>

        <!--chol-->
        <div class="form-group">
          <label>chol</label>
          <input type="text" class="form-control" name="chol" [(ngModel)]="chol" required>
        </div>

        <!-- fbs -->
        <div class="form-group">
          <label>fbs</label>
          <input type="text" class="form-control" name="fbs" [(ngModel)]="fbs" required>
        </div>

        <!-- restecg -->
        <div class="form-group">
          <label>restecg</label>
          <input type="text" class="form-control" name="restecg" [(ngModel)]="restecg" required>
        </div>

        <!-- thalach -->
        <div class="form-group">
          <label>thalach</label>
          <input type="text" class="form-control" name="thalach" [(ngModel)]="thalach" required>
        </div>

        <!-- exang -->
        <div class="form-group">
          <label>exang</label>
          <input type="text" class="form-control" name="exang" [(ngModel)]="exang" required>
        </div>

        <!-- oldpeak -->
        <div class="form-group">
          <label>oldpeak</label>
          <input type="text" class="form-control" name="oldpeak" [(ngModel)]="oldpeak" required>
        </div>

        <!-- slope -->
        <div class="form-group">
          <label>slope</label>
          <input type="text" class="form-control" name="slope" [(ngModel)]="slope" required>
        </div>

        <!-- ca -->
        <div class="form-group">
          <label>ca</label>
          <input type="text" class="form-control" name="ca" [(ngModel)]="ca" required>
        </div>

        <!-- thal -->
        <div class="form-group">
          <label>thal</label>
          <input type="text" class="form-control" name="thal" [(ngModel)]="thal" required>
        </div>


        <div class="form-group mt-2">
          <button class="btn btn-sm btn-danger">Submit</button>
        </div>

      </form>
      <div class="mt-3">
        Outcome: <b [ngStyle]="{'color':data?.message=='1'?'red':'green'}">{{message}}</b>
      </div>
    </div>
  </div>
</div>